﻿@model LogCreationViewModel

@{
    ViewData["Title"] = "Create log";
}

<h1>Create a log for a user</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="CreateLog" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateLog" class="control-label"></label>
                    <input asp-for="DateLog" class="form-control" />
                    <span asp-validation-for="DateLog" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lenght" class="control-label"></label>
                    <input asp-for="Lenght" asp-is-invariant="true"  class="form-control" />
                    <span asp-validation-for="Lenght" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Weight" class="control-label"></label>
                    <input asp-for="Weight" asp-is-invariant="true"  class="form-control" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create log" class="btn btn-primary" />
                    <a asp-action="Index" asp-controller="Admin" class="btn btn-secondary">Back to Index</a>
                </div>
            </form>
    </div>
</div>