﻿@model RegisterViewModel

@{
    ViewData["Title"] = "Create user";
}

<h1>Create an user</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Admin" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChosenRoles" class="control-label"></label>
                <select asp-for="ChosenRoles" asp-items="Html.GetEnumSelectList<ChosableRoles>()"></select>
            </div>
            <div>
                <h2>Role Explanations</h2>
                <h3>Coach</h3>
                <p>
                    This role will need the authorization of the user to access his data and follow their evolution.
                    The users where he gets permission to read their data can export his data as CSV and Markdown file.
                </p>
                <h3>User</h3>
                <p>
                    This rol is used for normal people that want to follow their weight and lenght.
                    He will only be able to execute CRUD operations on their own account and data. The user will also be able to
                    export his data as CSV and Markdown file.
                </p>
            </div>
            <div class="form-group">
                <input type="submit" value="Create user" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="Admin" class="btn btn-secondary">Back to Users</a>
            </div>
        </form>
    </div>
</div>