﻿@model BmiLog
@inject UserManager<BmiUser> UserManager;

@{
    ViewData["Title"] = "Delete log of user";
    BmiUser user = await UserManager.FindByIdAsync(Model.IdUser);
}

<h1>Delete the log of the user</h1>

<h3>@user.UserName (@user.Email) - BMI log id: @Model.ID</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateLog)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateLog)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lenght)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lenght)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>

    <form method="post" asp-action="DeleteLogOfUser" asp-controller="Admin">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <input asp-for="ID" hidden/>
        <input asp-for="IdUser" hidden/>
        <a asp-action="UserView" asp-controller="Admin" asp-route-userId="@Model.IdUser" class="btn btn-secondary">Back to List</a>
    </form>
</div>