﻿@model AuthorizedID

@{
    ViewData["Title"] = "Authorization request to an user";
}

<h1>Authorization request to an user</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCoach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCoach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusRequest)
        </dd>
    </dl>
</div>

<div class="row">
    @if (Model.StatusRequest != Status.Pending)
    {
        <form method="post" class="col-sm-2" asp-action="ModifyAuthStatus" asp-controller="Admin">
            <input asp-for="ID" hidden />
            <input asp-for="IdUser" hidden />
            <input asp-for="IdCoach" hidden />
            <input asp-for="StatusRequest" value="@Status.Pending" hidden />
            <div class="form-group">
                <input type="submit" value="Set to pending" class="btn bg-secondary" />
            </div>
        </form>
    }@if (Model.StatusRequest != Status.Accepted)
    {
        <form method="post" class="col-sm-2" asp-action="ModifyAuthStatus" asp-controller="Admin">
            <input asp-for="ID" hidden />
            <input asp-for="IdUser" hidden />
            <input asp-for="IdCoach" hidden />
            <input asp-for="StatusRequest" value="@Status.Accepted" hidden />
            <div class="form-group">
                <input type="submit" value="Set to accepted" class="btn bg-primary" />
            </div>
        </form>
    }
    @if (Model.StatusRequest != Status.Failed)
    {
        <form method="post" class="col-sm-2" asp-action="ModifyAuthStatus" asp-controller="Admin">
            <input asp-for="ID" hidden />
            <input asp-for="IdUser" hidden />
            <input asp-for="IdCoach" hidden />
            <input asp-for="StatusRequest" value="@Status.Failed" hidden />
            <div class="form-group">
                <input type="submit" value="Set to failed" class="btn bg-danger" />
            </div>
        </form>
    }
</div>