﻿@model AuthorizedID

@{
    ViewData["Title"] = "Remove auth";
}

<h1>Remove authorization</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCoach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCoach)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusRequest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusRequest)
        </dd>
    </dl>

    <form method="post" asp-controller="Admin" asp-action="RemoveAuth">
        <input asp-for="ID" hidden />
        <input asp-for="IdUser" hidden />
        <input asp-for="IdCoach" hidden />
        <input asp-for="StatusRequest" hidden />
        <input type="submit" value="Delete auth" class="btn btn-danger mt-4" />
        <a asp-action="Index" asp-controller="Admin" class="btn btn-secondary mt-4">Back to Index</a>
    </form>
</div>