﻿@model BmiUser
@{
    ViewData["Title"] = "Remove user";
}

<h1>Remove user @Model.UserName</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <form method="post" asp-action="RemoveUser" asp-controller="Admin">
        <input asp-for="Id" hidden />
        <input asp-for="Email" hidden />
        <input asp-for="UserName" hidden />
        <input type="submit" class="btn btn-danger" value="Remove user" />
        <a asp-action="Index" asp-controller="Admin" class="btn btn-secondary">Back to Index</a>
    </form>
</div>