﻿@model BmiLog
@inject UserManager<BmiUser> UserManager;

@{
    ViewData["Title"] = "Update Bmi log";
    BmiUser user = await UserManager.FindByIdAsync(Model.IdUser);
}

<h1>Update of a BmiLog</h1>
<h3>@user.UserName (@user.Email) - BMI log id: @Model.ID</h3>

<div class="row">
    <div class="col-md-10">
        <form method="post" asp-action="UpdateLogOfUser" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" hidden />
            <input asp-for="IdUser" hidden />
            <div class="form-group">
                <label asp-for="DateLog" class="control-label"></label>
                <input asp-for="DateLog" class="form-control" />
                <span asp-validation-for="DateLog" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lenght" class="control-label"></label>
                <input asp-for="Lenght" class="form-control" />
                <span asp-validation-for="Lenght" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="UserView" asp-controller="Admin" asp-route-userId="@Model.IdUser" 
                   class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>