﻿@model UpdateUserViewModel
@inject UserManager<BmiUser> userManager;
@{
    ViewData["Title"] = "Update user";
    BmiUser user = await userManager.FindByIdAsync(Model.UserId);
}

<h1>Update user</h1>

<h2>@user.UserName (@user.Email)</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="UpdateUser" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="UserId" hidden />
            <div class="form-group">
                <label asp-for="NewUserName" class="control-label"></label>
                <input asp-for="NewUserName" class="form-control" />
                <span asp-validation-for="NewUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save user changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UpdatePasswordUser" asp-controller="Admin"
       asp-route-userId="@user.Id" class="btn btn-primary">Edit password</a>
    <a asp-action="UpdateRolesUser" asp-controller="Admin"
       asp-route-userId="@user.Id" class="btn btn-primary">Edit roles</a>
</div>

<div>
    <hr class="m-2"/>
    <a asp-action="Index" asp-controller="Admin" class="btn btn-secondary">Back to Index</a>
</div>