﻿@model UserViewModel;
@inject UserManager<BmiUser> UserManager;
@{
    ViewData["Title"] = "BMI app - Home page";
    string weightJson = Model.BmiLogs.ToList().ReturnWeightList().ListToJson();
    string bmiJson = Model.BmiLogs.ToList().ReturnBmiList().ListToJson();
    BmiUser user = await UserManager.FindByIdAsync(Model.UserId);
}

<h1>Log list of @user.UserName (@user.Email)</h1>
@{
    @section Style {
        <link href="~/lib/css/chart.css" rel="stylesheet" />
    }
    if (Model != null && Model.BmiLogs.Count() > 0)
    {
        <table class="table row-cols-sm-3">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Lenght</th>
                    <th>Weight</th>
                    <th>BMI</th>
                    <th>BSA</th>
                    <th>Ideal weight</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (BmiLog bmiLog in Model.BmiLogs)
                {
                    <tr>
                        <th>@bmiLog.DateLog.ToShortDateString()</th>
                        <th>@bmiLog.Lenght m</th>
                        <th>@bmiLog.Weight kg</th>
                        <th>@bmiLog.BMI()</th>
                        <th>@bmiLog.BSA()</th>
                        <th>@bmiLog.IdealWeight()</th>
                        <th>
                            <a asp-controller="Admin" asp-action="UpdateLogOfUser" asp-route-userId="@Model.UserId"
                               asp-route-id="@bmiLog.ID" class="btn-link">Edit</a>
                            <a asp-controller="Admin" asp-action="DeleteLogOfUser" asp-route-userId="@Model.UserId"
                               asp-route-id="@bmiLog.ID" class="btn-link">Delete</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <hr />
            <a asp-action="ReturnCsv" asp-controller="Export" asp-route-userId="@Model.UserId">Export CSV file</a>
            <hr />
            <a asp-action="ReturnMd" asp-controller="Export" asp-route-userId="@Model.UserId">Export MD file</a>
            <hr />
        </div>
        <h5 class="card-title text-center">BMI(body mass index) graph</h5>
        <div id="chartBMI" class="ct-chart" data-weight="@Model.BmiLogs.ToList().ReturnBmiList().ListToJson()"></div>
        @section Scripts {
            <script asp-suppress-fallback-integrity="false" src="~/lib/js/ChartBmi.js"></script>
        }
    }
    else
    {
        <h2 class="text-center">You have no Logs.</h2>
    }
}