﻿@model WebFailure;

    <div class="card">
        <div class="card-header">
            <h3>An Error occured while processing your request. The support team is notified and we are working on the fix.</h3>
        </div>
        <div class="card-body text-center">
            <h4 class="text-center bg-danger text-black-50 ">
                @Model.ErrorMessage
            </h4>
            <h5>Please contact us on <a href="#">michael.hertsens@student.odisee.be</a></h5>
        </div>
        <div class="card-footer">
            <a asp-controller="@User.FindFirstValue(ClaimTypes.Role)" asp-action="Index"
               class="btn btn-outline-primary" style="width:auto">
                Click here to navigate to the Home Page
            </a>
        </div>
    </div>