﻿@model FaulthyUrl;
@{
    ViewData["Title"] = "Not Found";
}

<div class="card">
    <div class="card-header">
        <h1>@Model.StatusCode Error</h1>
    </div>
    <div class="card-body text-center">
        <h2>@Model.StatusCodeMessage()</h2>
    </div>
    <div class="card-footer">
        <a asp-controller="@User.FindFirstValue(ClaimTypes.Role)" asp-action="Index" 
           class="btn btn-outline-primary" style="width:auto">
            Click here to navigate to the Home Page
        </a>
    </div>
</div>