﻿@model BmiLog

@{
    ViewData["Title"] = "Create";
}

<h1>Create an log</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="BMI" method="post" class="mt-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateLog" class="control-label"></label>
                <input asp-for="DateLog" class="form-control" />
                <span asp-validation-for="DateLog" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lenght" class="control-label"></label>
                <input asp-for="Lenght" asp-is-invariant="true" class="form-control" />
                <span asp-validation-for="Lenght" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" asp-is-invariant="true" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>