﻿@model Bmi.BLL.Models.BmiLog

@{
    ViewData["Title"] = "DeleteLog";
}

<h1>Delete Log</h1>

<h3>Are you sure you want to delete this bmi log?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateLog)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateLog)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lenght)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lenght)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>

    <form asp-controller="BMI" asp-action="deleteLog">
        <input asp-for="ID" hidden />
        <button type="submit" class="btn btn-danger" style="width:auto">Delete log</button>
    </form>
    <a asp-controller="BMI" asp-action="Index">Back to List</a>
</div>
