﻿@model Bmi.BLL.Models.BmiLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lenght)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lenght)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-10">
            BMI(Body Mass Index): @Model.ReturnBMI() kg
        </dt>
        <dt class="col-sm-10">
            BSA(Body Surface Area): @Model.ReturnBSA() m²
        </dt>
        <dt class="col-sm-10">
            Ideal weight: @Model.ReturnIdealWeight()
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="BMI">Back to List</a>
</div>
