﻿@model Person;
@{
    ViewData["Title"] = "BMI app - Home page";
    string weightJson = Model.BmiLogList.ReturnWeightList().ListToJson();
    string bmiJson = Model.BmiLogList.ReturnBmiList().ListToJson();
}

@section Style {
    <link href="~/lib/css/chart.css" rel="stylesheet" />
}

<h1 class="text-center">Welcome to Bmiser</h1>
@{
    if (Model != null && Model.BmiLogList.Count > 0)
    {
        <table class="table row-cols-sm-3">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Lenght</th>
                    <th>Weight</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (BmiLog bmiLog in Model.BmiLogList)
                {
                    <tr>
                        <th>@bmiLog.DateLog.ToShortDateString()</th>
                        <th>@bmiLog.Lenght m</th>
                        <th>@bmiLog.Weight kg</th>
                        <th>
                            <a asp-controller="BMI" asp-action="Details" 
                               asp-route-id="@bmiLog.ID" class="btn-link">Detail</a>
                            <a asp-controller="BMI" asp-action="Update" 
                               asp-route-id="@bmiLog.ID" class="btn-link">Edit</a>
                            <a asp-controller="BMI" asp-action="Delete" 
                               asp-route-id="@bmiLog.ID" class="btn-link">Delete</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <hr />
            <a asp-action="ReturnCsv" asp-controller="BMI">Export CSV file</a>
            <hr />
            <a asp-action="ReturnMd" asp-controller="BMI">Export MD file</a>
            <hr />
        </div>
        <h5 class="card-title text-center">BMI(body mass index) graph</h5>
        <div id="chartBMI" class="ct-chart" data-weight="@Model.BmiLogList.ReturnBmiList().ListToJson()"></div>
    }
    else
    {
        <h2 class="text-center">You have no Logs.</h2>
    }
}

@section Scripts {
    <script>
        //config of the weight graph, I got it off the get started page of chartist.js.
        var options = {
            showPoint: true,
            height: 300,
            axisX: {
                showGrid: true,
                showLabel: true
            },
            axisY: {
                offset: 60,
                showGrid: true,
                showLabel: true,
                labelInterpolationFnc: function (value) {
                    return `${value} kg`;
                }
            },
            chartPadding: 0,
            low: 0
        };
        new Chartist.Line(document.querySelector('#chartBMI'), {
            name: 'BMI',
            series: [JSON.parse(chartBMI.dataset.weight)]
        }, options);
    </script>
}