﻿@model BmiUser
@inject UserManager<BmiUser> userManager;
@{
    ViewData["Title"] = "Profile page";
}

<h1>Profile page</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
    </dl>
</div>
<div>
    <h3>Roles that you posess:</h3>
    <ul>
        @foreach (string roleName in await userManager.GetRolesAsync(Model))
        {
            <li>@roleName</li>
        }
    </ul>
</div>
<div>
    <a asp-action="UpdateProfile" asp-controller="Account" class="btn btn-primary">Update profile</a>
    <a asp-action="ChangePassword" asp-controller="Account" class="btn btn-primary">Change Password</a>
    <hr />
    <a asp-action="Index" asp-controller="@User.FindFirstValue(ClaimTypes.Role)" 
       class="btn btn-secondary">Back to home page</a>
</div>