﻿@model AuthRequestsOfUserViewModel;
@inject UserManager<BmiUser> UserManager;
@{
    ViewData["Title"] = "Delete log of user";
    BmiUser user = await UserManager.FindByIdAsync(Model.UserId);
    IEnumerable<AuthorizedID> pendingRequests = Model.AuthorizedIDs.Where(auth => auth.StatusRequest == Status.Pending);
    IEnumerable<AuthorizedID> acceptedRequests = Model.AuthorizedIDs.Where(auth => auth.StatusRequest == Status.Accepted);
    IEnumerable<AuthorizedID> failedRequests = Model.AuthorizedIDs.Where(auth => auth.StatusRequest == Status.Failed);
}

<h1 class="mb-4">Authorization requests to @user.UserName (@user.Email)</h1>

@if (Model != null && Model.AuthorizedIDs.Count() > 0)
{
    <div class="row">
        @if (pendingRequests.Any())
        {
            <div class="col-sm">
                <h2>Pending</h2>
                <ul class="list-group">
                    @foreach (AuthorizedID auth in pendingRequests)
                    {
                        BmiUser coach = await UserManager.FindByIdAsync(auth.IdCoach);
                        <li class="list-group-item">
                            <a asp-action="ModifyAuthStatus" asp-controller="Admin" asp-route-coachId="@auth.IdCoach" 
                               asp-route-userId="@auth.IdUser">@coach.UserName</a>
                        </li>
                    }
                </ul>
            </div>
        }
        @if (acceptedRequests.Any())
        {
            <div class="col-sm">
                <h2>Accepted</h2>
                <ul class="list-group">
                    @foreach (AuthorizedID auth in acceptedRequests)
                    {
                        BmiUser coach = await UserManager.FindByIdAsync(auth.IdCoach);
                        <li class="list-group-item">
                            <a asp-action="ModifyAuthStatus" asp-controller="Admin" asp-route-coachId="@auth.IdCoach" 
                               asp-route-userId="@auth.IdUser">@coach.UserName</a>
                        </li>
                    }
                </ul>
            </div>
        }
        @if (failedRequests.Any())
        {
            <div class="col-sm">
                <h2>Failed</h2>
                <ul class="list-group">
                    @foreach (AuthorizedID auth in failedRequests)
                    {
                        BmiUser coach = await UserManager.FindByIdAsync(auth.IdCoach);
                        <li class="list-group-item"> 
                            <a asp-action="ModifyAuthStatus" asp-controller="Admin" asp-route-coachId="@auth.IdCoach" 
                               asp-route-userId="@auth.IdUser">@coach.UserName</a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
}
else
{
    <h2 class="text-center">You have no Authorization Requests.</h2>
}