﻿@model AuthRequestsForAdminViewModel

@{
    ViewData["Title"] = "Create auth request";
}

<h1>Create an authorization request</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Admin" asp-action="CreateAuth">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailOfTheSender" class="control-label"></label>
                <input asp-for="EmailOfTheSender" class="form-control" />
                <span asp-validation-for="EmailOfTheSender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailOfRequested" class="control-label"></label>
                <input asp-for="EmailOfRequested" class="form-control" />
                <span asp-validation-for="EmailOfRequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create request" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="Admin" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>