﻿@model UsersViewModel
@{
    ViewData["Title"] = "All Users";
}

@if (Model.AllUsersCount() != 0)
{
    <h1>All Users within the Bmi Log</h1>
    @if (Model.AllUsersAndCoaches.Any())
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseUsersAndCoaches">Users and coaches</a>
                </h4>
            </div>
            <div id="collapseUsersAndCoaches" class="panel-collapse collapse">
                <table class="table row-cols-sm-3">
                    <thead>
                        <tr>
                            <th>Email User</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (BmiUser user in Model.AllUsersAndCoaches)
                        {
                            <tr>
                                <th>
                                    <a asp-action="UserView" asp-controller="Admin" asp-route-userId="@user.Id">
                                        @user.Email
                                    </a>
                                </th>
                                <th>
                                    <a asp-action="CoachView" asp-controller="Admin" asp-route-userId="@user.Id">
                                        Coach page
                                    </a>
                                </th>
                                <th class="d-flex justify-content-between">
                                    <a asp-controller="Admin" asp-action="AuthPageOfUser"
                                       asp-route-userId="@user.Id" class="btn btn-primary">Authorizations</a>
                                    <a asp-controller="Admin" asp-action="UpdateUser"
                                       asp-route-userId="@user.Id" class="btn btn-secondary">Update User</a>
                                    <a asp-controller="Admin" asp-action="RemoveUser"
                                       asp-route-userId="@user.Id" class="btn btn-danger">Remove User</a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (Model.AllUsers.Any())
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseUsers">Users</a>
                </h4>
            </div>
            <div id="collapseUsers" class="panel-collapse collapse">
                <table class="table row-cols-sm-3">
                    <thead>
                        <tr>
                            <th>Email User</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (BmiUser user in Model.AllUsers)
                        {
                            <tr>
                                <th>
                                    <a asp-action="UserView" asp-controller="Admin" asp-route-userId="@user.Id">
                                        @user.Email
                                    </a>
                                </th>
                                <th class="d-flex justify-content-between">
                                    <a asp-controller="Admin" asp-action="AuthPageOfUser"
                                       asp-route-userId="@user.Id" class="btn btn-primary">Authorizations</a>
                                    <a asp-controller="Admin" asp-action="UpdateUser"
                                       asp-route-userId="@user.Id" class="btn btn-secondary">Update User</a>
                                    <a asp-controller="Admin" asp-action="RemoveUser"
                                       asp-route-userId="@user.Id" class="btn btn-danger">Remove User</a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (Model.AllCoaches.Any())
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseCoaches">Coaches</a>
                </h4>
            </div>
            <div id="collapseCoaches" class="panel-collapse collapse">
                <table class="table row-cols-sm-3">
                    <thead>
                        <tr>
                            <th>Email User</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (BmiUser user in Model.AllCoaches)
                        {
                            <tr>
                                <th>
                                    <a asp-action="CoachView" asp-controller="Admin" asp-route-userId="@user.Id">
                                        @user.Email
                                    </a>
                                </th>
                                <th class="d-flex justify-content-between">
                                    <a asp-controller="Admin" asp-action="UpdateUser"
                                       asp-route-userId="@user.Id" class="btn btn-secondary">Update User</a>
                                    <a asp-controller="Admin" asp-action="RemoveUser"
                                       asp-route-userId="@user.Id" class="btn btn-danger">Remove User</a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
else
{
    <h2>You have no users at the moment.</h2>
}