﻿@model UserRolesStatusViewModel
@inject UserManager<BmiUser> userManager;

@{
    ViewData["Title"] = "Update roles of user";
    BmiUser user = await userManager.FindByIdAsync(Model.UserId);
}

<h1>Update roles for the user @user.UserName</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="UpdateRolesUser" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="UserId" hidden/>
            <div class="card-body">
                @for (int i = 0; i < (Model.RolesStatus.Count); i++)
                {
                    <div class="form-check m-1">
                        <input asp-for="@Model.RolesStatus[i].Name" type="hidden" />
                        <input asp-for="@Model.RolesStatus[i].UserInRole" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model.RolesStatus[i].UserInRole">
                            @Model.RolesStatus[i].Name
                        </label>
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save roles user" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="Admin" class="btn btn-secondary">Back to Index</a>
            </div>
        </form>
    </div>
</div>