﻿@model EditPasswordOfUserViewModel
@inject UserManager<BmiUser> userManager;
@{
    ViewData["Title"] = "UpdatePasswordUser";
    BmiUser user = await userManager.FindByIdAsync(Model.UserId);
}

<h1>Update password of user @user.UserName</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="UpdatePasswordUser" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="UserId" hidden/>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPasswordConfirm" class="control-label"></label>
                <input asp-for="NewPasswordConfirm" class="form-control" />
                <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change password" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="Admin" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>