﻿@model EditNameUserViewModel
@{
    ViewData["Title"] = "Update Profile";
}

<h1>Update Profile</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateProfile" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save profile updates" class="btn btn-primary" />
                <a asp-action="GetProfileView" asp-controller="Account"
                   class="btn btn-secondary">Back to home page</a>
            </div>
        </form>
    </div>
</div>