﻿@inject SignInManager<BmiUser> signInManager;
@inject RoleManager<IdentityRole> roleManager;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/chartist/chartist.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true">
        <link href="~/lib/chartist/chartist.min.css" rel="stylesheet" />
    </environment>
    <style>
        
    </style>
    @RenderSection("Style", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                @if (signInManager.IsSignedIn(User) && User.IsInRole(Roles.Admin))
                {
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Admin" class="nav-link">Users</a>
                    </li>
                    <li>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Create</a>
                            <div class="dropdown-menu">
                                <a asp-action="Create" asp-controller="Admin" class="dropdown-item">User</a>
                                <a asp-action="CreateLog" asp-controller="Admin" class="dropdown-item">Bmi log</a>
                                <a asp-action="CreateAuth" asp-controller="Admin" class="dropdown-item">Authorization request</a>
                            </div>
                        </div>
                    </li>
                }
                else
                {
                    @if (signInManager.IsSignedIn(User) && User.IsInRole(Roles.Coach))
                    {
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Coach" class="nav-link">Users</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="MakeRequest" asp-controller="Coach" class="nav-link">Make request</a>
                        </li>
                    }
                    @if (signInManager.IsSignedIn(User) && User.IsInRole(Roles.Person))
                    {
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Person" class="nav-link">Bmi-logs</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Create" asp-controller="Person" class="nav-link">Create</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Authorizations" asp-controller="Person" class="nav-link">Authorizations</a>
                        </li>
                    }
                }
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <form method="post">
                            <button type="submit" asp-controller="Account" asp-action="Logout"
                                    class="btn btn-link py-0 nav-link" style="width:auto">
                                Log Out
                            </button>
                        </form>
                    </li>
                    <li>
                        <a asp-action="GetProfileView" asp-controller="Account"
                           class="btn btn-link py-0 nav-link" style="width:auto">Profile</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-action="Register" asp-controller="Account" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Login" asp-controller="Account" class="nav-link">Login</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
<environment include="Development">
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/js/NumberValidator.js"></script>
    <script src="~/lib/chartist/chartist.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.4.1.min.js"
            asp-fallback-src="~/lib/jquery/jquery.min.js"
            asp-fallback-test="window.jQuery"
            asp-suppress-fallback-integrity="true"
            integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validate/jquery.validate.js"
            asp-fallback-test="window.jQuery"
            asp-suppress-fallback-integrity="true"
            integrity="sha384-6UVI3atWyL/qZbDIJb7HW8PyHhFNMiX5rYNY2gAYcaYJjYk5cNIQShSQPBleGMYu" 
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"
            asp-fallback-test="window.jQuery"
            asp-suppress-fallback-integrity="true"
            integrity="sha384-C8hjioqadbXfCfVhnT6NUWCL1hD9kTjwIhQ+c5Q/fVyXwav3uPly3e/0PN/X8Yd9"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
            asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery"
            asp-suppress-fallback-integrity="true"></script>
    <script src="~/lib/js/NumberValidator.js"></script>
    <script src="~/lib/chartist/chartist.min.js"></script>
</environment>
@RenderSection("Scripts", required: false)
</body>
</html>