﻿@model IEnumerable<AuthorizedID>;
@inject IBmiRepo BmiRepo; 
@{
    ViewData["Title"] = "BMI app - Home page";
}

<h1 class="text-center">Authorization Requests</h1>

@{
    if (Model != null && Model.Count() > 0) 
    {
    <div class="panel-group">
        @if (Model.Any(auth => auth.StatusRequest == Status.Pending))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapsePending">Pending Requested</a>
                    </h4>
                </div>
                <div id="collapsePending" class="panel-collapse collapse">
                    <ul class="list-group">
                        @foreach (AuthorizedID auth in Model.Where(auth => auth.StatusRequest == Status.Pending))
                        {
                            string EmailCoach = BmiRepo.GetById(auth.IdCoach).Email;
                            <li class="list-group-item panel-title">
                                Request Received from @EmailCoach
                                <div class="list-group">
                                    <a asp-action="DecideOverRequest" asp-controller="Person" 
                                       asp-route-IdCoach="@auth.IdCoach"
                                       class="list-group-item list-group-item-action">Accept or Deny Request</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        @if (Model.Any(auth => auth.StatusRequest == Status.Accepted))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseAccepted">Accepted Requested</a>
                    </h4>
                </div>
                <div id="collapseAccepted" class="panel-collapse collapse">
                    <ul class="list-group">
                        @foreach (AuthorizedID auth in Model.Where(auth => auth.StatusRequest == Status.Accepted))
                        {
                            string EmailCoach = BmiRepo.GetById(auth.IdCoach).Email;
                            <li class="list-group-item">
                                Accepted request from @EmailCoach
                                <div class="list-group">
                                    <a asp-action="DecideOverRequest" asp-controller="Person" asp-route-IdCoach="@auth.IdCoach"
                                       class="list-group-item list-group-item-action">Accept or Deny Request</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        @if (Model.Any(auth => auth.StatusRequest == Status.Failed))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseFailed">Failed Requested</a>
                    </h4>
                </div>
                <div id="collapseFailed" class="panel-collapse collapse">
                    <ul class="list-group">
                        @foreach (AuthorizedID auth in Model.Where(auth => auth.StatusRequest == Status.Failed))
                        {
                            string EmailCoach = BmiRepo.GetById(auth.IdCoach).Email;
                            <li class="list-group-item">
                                Denied Request from @EmailCoach
                                <div class="list-group">
                                    <a asp-action="DecideOverRequest" asp-controller="Person" asp-route-IdCoach="@auth.IdCoach"
                                       class="list-group-item list-group-item-action">Accept or Deny Request</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
    }
    else
    {
        <h2 class="text-center">You have no Authorization Requests.</h2>
    }
}

@section Scripts{
    <script>
        $('#accordeonAuth').collapse({
            toggle: false
        });
    </script>
}