﻿@model BmiLog

@{
    ViewData["Title"] = "DeleteLog";
}

<h1>Delete bmi log</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateLog)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateLog)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lenght)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lenght)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>

    <form asp-controller="Person" asp-action="deleteLog" method="post">
        <input asp-for="ID" hidden />
        <button type="submit" class="btn btn-danger" style="width:auto">Delete log</button>
        <a asp-controller="Person" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
