﻿@model BmiLog

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" asp-controller="Person" method="post">
            <input asp-for="ID" hidden />
            <input hidden asp-for="IdUser" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateLog" class="control-label"></label>
                <input asp-for="DateLog" class="form-control" />
                <span asp-validation-for="DateLog" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lenght" class="control-label"></label>
                <input asp-for="Lenght" class="form-control" />
                <span asp-validation-for="Lenght" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="Person" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>