﻿@model AuthorizedID;
@inject IBmiRepo BmiRepo;
@{
    ViewData["Title"] = "Decision Request";
}

<h1>Decision over auth request</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Email coach:
        </dt>
        <dd class="col-sm-10">
            @BmiRepo.GetById(Model.IdCoach).Email
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusRequest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusRequest)
        </dd>
    </dl>
</div>

<div class="row">
    @if (Model.StatusRequest != Status.Accepted)
    {
        <form method="post" class="col-sm-2" asp-action="AcceptRequest" asp-controller="Person">
            <div class="form-group">
                <input asp-for="ID" hidden />
                <input asp-for="IdUser" hidden />
                <input asp-for="IdCoach" hidden />
                <input asp-for="StatusRequest" hidden />
                <input type="submit" value="Accept Request" class="btn bg-primary" />
            </div>
        </form>
    }
    @if (Model.StatusRequest != Status.Failed)
    {
        <form method="post" class="col-sm-2" asp-action="DenyRequest" asp-controller="Person">
            <div class="form-group">
                <input asp-for="ID" hidden/>
                <input asp-for="IdUser" hidden />
                <input asp-for="IdCoach" hidden />
                <input asp-for="StatusRequest" hidden />
                <input type="submit" value="Deny Request" class="btn bg-danger" />
            </div>
        </form>
    }
    <div>
        <a asp-action="Authorizations" asp-controller="Person" class="btn btn-secondary">Back to Authorizations</a>
    </div>
</div>