﻿@model IEnumerable<BmiLog>;
@{
    ViewData["Title"] = "BMI app - Home page";
    string weightJson = Model.ToList().ReturnWeightList().ListToJson();
    string bmiJson = Model.ToList().ReturnBmiList().ListToJson();
}

@section Style {
    <link href="~/lib/css/chart.css" rel="stylesheet" />
}

<h1 class="text-center">Welcome to Bmiser</h1>
@{
    if (Model != null && Model.Count() > 0)
    {
        <table class="table row-cols-sm-3">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Lenght</th>
                    <th>Weight</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (BmiLog bmiLog in Model)
                {
                    <tr>
                        <th>@bmiLog.DateLog.ToShortDateString()</th>
                        <th>@bmiLog.Lenght m</th>
                        <th>@bmiLog.Weight kg</th>
                        <th class="d-flex justify-content-between">
                            <a asp-controller="Person" asp-action="Details"
                               asp-route-id="@bmiLog.ID" class="btn-link">Detail</a>
                            <a asp-controller="Person" asp-action="Update"
                               asp-route-id="@bmiLog.ID" class="btn-link">Edit</a>
                            <a asp-controller="Person" asp-action="Delete"
                               asp-route-id="@bmiLog.ID" class="btn-link">Delete</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <hr />
            <a asp-action="ReturnCsv" asp-controller="Export">Export CSV file</a>
            <hr />
            <a asp-action="ReturnMd" asp-controller="Export">Export MD file</a>
            <hr />
        </div>
        <h5 class="card-title text-center">BMI(body mass index) graph</h5>
        <div id="chartBMI" class="ct-chart" data-weight="@Model.ToList().ReturnBmiList().ListToJson()"></div>
        @section Scripts {
            <script asp-suppress-fallback-integrity="false" src="~/lib/js/ChartBmi.js"></script>
        }
    }
    else
    {
        <h2 class="text-center">You have no Logs.</h2>
    }
}