﻿@model AuthRequestViewModel

@{
    ViewData["Title"] = "Make Request";
}

<h1>Make authorization request</h1>

<div class="row">
    <form asp-action="MakeRequest" asp-controller="Coach" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="EmailOfRequested" class="control-label"></label>
            <input asp-for="EmailOfRequested" class="form-control" />
            <span asp-validation-for="EmailOfRequested" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <input type="submit" value="Make Auth Request" class="btn btn-primary m-2" />
            <a asp-action="Index" asp-controller="Coach" class="btn btn-secondary m-2">Back to List</a>
        </div>
    </form>
</div>