﻿@model DetailBmiLogOfUserViewModel;
@inject IBmiRepo BmiRepo;
@{
    ViewData["Title"] = "Bmi log of user";
}

<h1>Bmi log of @BmiRepo.GetById(Model.IdUser).Email</h1>

<div>
    <h4>BmiLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BmiLog.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BmiLog.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BmiLog.DateLog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BmiLog.DateLog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BmiLog.Lenght)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BmiLog.Lenght)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BmiLog.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BmiLog.Weight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="@User.FindFirstValue(ClaimTypes.Role)" class="btn btn-primary">Back to List</a>
</div>