﻿@model RequestViewModel;
@inject IBmiRepo repo;

<h1>Users that received the authentication requests.</h1>

@if (Model.CountAllRequest() > 0)
{
    if (Model.AcceptedRequests.Count() > 0)
    {
        <h2>Accepted request</h2>
        <table class="table row-cols-sm-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email User</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (AuthorizedID auth in Model.AcceptedRequests)
                {
                    BmiUser ps = repo.GetById(auth.IdUser);
                    <tr>
                        <th>@auth.IdUser</th>
                        <th>
                            <a asp-controller="Coach" asp-action="UserView"
                               asp-route-userId="@auth.IdUser" class="btn-link">@ps.Email</a>
                        </th>
                        <th>
                            <a asp-controller="Coach" asp-action="RemoveAuth"
                               asp-route-userId="@auth.IdUser" class="btn-link">Remove Authorization</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    if (Model.FailedPendingRequest.Count() > 0)
    {
        <h2>Failed and pending requests</h2>
        <table class="table row-cols-sm-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email User</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (AuthorizedID auth in Model.FailedPendingRequest)
                {
                    BmiUser ps = repo.GetById(auth.IdUser);
                    <tr>
                        <th>@auth.IdUser</th>
                        <th>
                            @ps.Email
                        </th>
                        <th>
                            <a asp-controller="Coach" asp-action="RemoveAuth"
                               asp-route-userId="@auth.IdUser" class="btn-link">Remove Authorization</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    @section Scripts{
        <script>
            $('#accordeonAuth').collapse({
                toggle: false
            });
        </script>
    }
}
else
{
    <h2 class="text-center">You have no Users that accepted you're authorization request.</h2>
}