﻿@model BmiUser;
@{
    ViewData["Title"] = "Remove authorization to a user";
}

<h1>Remove authorization to a user</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <form asp-controller="Coach" asp-action="RemoveAuthUser" method="post">
        <input asp-for="Id" hidden/>
        <button type="submit" class="btn btn-danger">Remove authorization request</button>
        <a asp-controller="Coach" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>