﻿@model UserViewViewModel;
@inject IBmiRepo BmiRepo;
@{
    ViewData["Title"] = "User BMI log page";
    string weightJson = Model.BmiLogs.ToList().ReturnWeightList().ListToJson();
    string bmiJson = Model.BmiLogs.ToList().ReturnBmiList().ListToJson();
    string emailCoach = BmiRepo.GetById(Model.UserId).Email;
}

@section Style {
    <link href="~/lib/css/chart.css" rel="stylesheet" />
}

<h1 class="text-center">User BMI log list: @emailCoach</h1>
@{
    if (Model != null && Model.BmiLogs.Count() > 0)
    {
        <table class="table row-cols-sm-3">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Lenght</th>
                    <th>Weight</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (BmiLog bmiLog in Model.BmiLogs)
                {
                    <tr>
                        <th>@bmiLog.DateLog.ToShortDateString()</th>
                        <th>@bmiLog.Lenght m</th>
                        <th>@bmiLog.Weight kg</th>
                        <th>
                            <a asp-controller="Coach" asp-action="DetailBmiLogOfUser"
                               asp-route-bmiLogId="@bmiLog.ID" asp-route-userId="@Model.UserId" class="btn-link">Detail</a>
                            @if (User.IsInRole(Roles.Admin))
                            {
                                <a asp-controller="Admin" asp-action="RemoveBmiLog"
                                   asp-route-bmiLogId="@bmiLog.ID" asp-route-userId="@Model.UserId" class="btn-link">Detail</a>
                                <a asp-controller="Admin" asp-action="UpdateBmiLog"
                                   asp-route-bmiLogId="@bmiLog.ID" asp-route-userId="@Model.UserId" class="btn-link">Detail</a>
                            }
                        </th>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <hr />
            <a asp-action="ReturnCsv" asp-controller="Export" asp-route-userId="@Model.UserId">Export CSV file</a>
            <hr />
            <a asp-action="ReturnMd" asp-controller="Export" asp-route-userId="@Model.UserId">Export MD file</a>
            <hr />
        </div>
        <h5 class="card-title text-center">BMI(body mass index) graph</h5>
        <div id="chartBMI" class="ct-chart" data-weight="@Model.BmiLogs.ToList().ReturnBmiList().ListToJson()"></div>
        @section Scripts {
            <script asp-suppress-fallback-integrity="false" src="~/lib/js/ChartBmi.js"></script>
        }
    }
    else
    {
        <h2 class="text-center">@Model.UserId has no BMI logs.</h2>
    }
}